<h1 class="home-title" [@titleAnimation]>
    AZIMUT
</h1>
<ul class="menu widget">
    <li class="menu-item">
        <a
            class="menu-item-link"
            [routerLink]="['/games', newGameKey]"
            routerLinkActive="router-link-active"
        >New Game</a></li>
    <li class="menu-item">
        <a
            class="menu-item-link"
            [routerLink]="['/games']"
            routerLinkActive="router-link-active"
        >Load Game</a>
    </li>
    <li class="menu-item">
        <a
            class="menu-item-link"
            [routerLink]="['/admin']"
        >Admin</a>
    </li>
</ul>
