:root {
  --main-color: #7ab793;
}
.home-title {
  color: #7ab793;
  text-transform: uppercase;
  font-weight: bold;

  margin: 0;
  line-height: 40px;
  padding: 0;
  background: black;
  display: inline-block;
  position:relative;
}
.home-title::after {
  content: ' ';
  width: 0;
  height: 0;
  border-color: black transparent transparent black;
  border-width: 20px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.home-menu {
  color: var(--main-color);
}

.menu-item {
  list-style-type: none;
}

.menu-item-link {
  color: var(--main-color);
  transition: 0.3s ease-in-out color;
}

.menu-item-link:hover,
.menu-item-link:focus {
  color: white;
}
