$mainColor:#7AB793;//neon green
// $mainColor:#2CF56B;
$shadowSize: .5em;
$shadowColor:rgba($mainColor,0.75);

body,html{
    width:100%;height:100%;
    overflow:hidden;
    background-color:#666;
    color:$mainColor;
    font-family:'Quicksand',Courier, monospace;
    font-size:24px;
    text-shadow:0 0 $shadowSize $shadowColor;
    padding: 0;
    margin: 0;
}
h1,h1,h2,h4{
    color:#7AB793;
}
a{
    color:white;
    color:#7AB793;
    text-decoration:none;
    transition:0.3s ease-in-out all;
    text-shadow:2px 2px 2px black;
    &:hover,&:focus{
        text-shadow:0 0 1em white;
    }
}
button, .btn{
    background-color:transparent;
    color:$mainColor;
    height:2em;
    line-height:2em;
    border-radius:1em;
    border:$mainColor solid 1px;
    padding: 0em .75em;
}
#actions{
    bottom:0;
    position:absolute;
    text-align:center;
    button{
        font-size:.65em;
        
    }
} 
.screen.fade{
    background-color:rgba(0,0,0,0.625);
}
.screen:not(:target){
    display:none;
}
.screen:target{
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
}
.bordered{
    border:2px solid $mainColor;
    box-shadow:0 0 $shadowSize $shadowColor,inset 0 0 $shadowSize $shadowColor;
}
.text-screen{
    
}
.popup{
    background-color:rgba(0,0,0,0.25);
    color:white;
    .popup-title{
        
    }
}
#home{
    a{
        &:hover{
            
        }
    }
}
#death{
    h2{
        color:#AA4439;
        text-shadow:none;
    }
}
